{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | Pollbin</title>
    <link href="{% static 'polls/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'polls/css/card.css' %}" rel="stylesheet">
    <link href="{% static 'polls/css/fonts.css' %}" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>
{% block body %}
{% block menu %}
{% endblock %}
{% block content %}
{% endblock %}
{% endblock %}
    <script type="text/javascript" src="{% static 'polls/js/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'polls/js/randomcardcolor.js' %}"></script>
    <script type="text/javascript" src="{% static 'polls/js/bootstrap.min.js' %}"></script>
</body>
</html>