{% extends 'polls/base.html' %}
{% block title %}Welcome to Pollbin!{% endblock %}

{% block body_block %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 col-md-offset-2 column col-detail">
			<div class="question">
				<h3>{{poll.question}}</h3>				
			</div>
			<form action=" {% url 'polls:vote' poll.id %} " method="post">
			{% csrf_token %}
			{% for choice in poll.choice_set.all %}
			    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
			    <label for="choice{{ forloop.counter }}">{{choice.choice_text}}</label> 
			    <br>
			{% endfor %}
			    <input type="submit" value="VOTE"/>
			    {% if error_message %}<p><strong>{{ error.message }}</strong></p>{% endif %}
			</form>			
		</div>
	<div>
</div>

{% endblock %}