{% extends 'polls/base.html' %}
{% block title %}Welcome to Pollbin!{% endblock %}
{% load staticfiles %}
{% block extra_head %}
{% endblock %}

{% block body %}
<div class="container">
{% if latest_polls %}
    <div class="card-container row clearfix">
    {% for poll in latest_polls %}
        <div class="card col-sm-4 col-md-2 column">
        	<h4><a href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a></h4>            
        </div>
    {% endfor %}
    </div>
{% else %}
    no polls
{% endif %}
	<div class="row clearfix">
		<p><a href="{% url 'polls:contact' %}">Contact me</a></p>		
	</div>
</div>
{% endblock %}
