{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Pollbin</title>
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/fonts.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}" />
</head>
<body>
	<div class="wrapper">
		<div class="titleheader">
			<h3><a href="{% url 'polls:index' %}"><span>POLLBIN</span> | The most up-to-date polling site</a></h3>
		</div>
		<div class="container">
			{% if latest_polls %}
				<h4><span>LATEST</span></h4>
			    <table>
			    <tr>
			    	<th>POLL</th>
			    	<th>ADDED</th>
			    	<th>HITS</th>
			    </tr>
			    {% for poll in latest_polls %}
					<tr>
						<td><a href="{% url 'polls:detail' poll.slug poll.id %}">{{ poll.question }}</a></td>
						<td>{{ poll.get_number_of_days_past }} ago</td>
						<td>{{ poll.answers }}</td>
					</tr>
			    {% endfor %}
			    </table>
			{% else %}
			    <p>No polls are available.</p>
			{% endif %}
		</div>
		<div class="container">
		{% if trending_polls %}
			<h4><span>TRENDING</span></h4>
		    <table>
		    <tr>
		    	<th>POLL</th>
		    	<th>ADDED</th>
		    	<th>HITS</th>
		    </tr>
		    {% for poll in trending_polls %}
				<tr>
					<td><a href="{% url 'polls:detail' poll.slug poll.id %}">{{ poll.question }}</a></td>
					<td>{{ poll.get_number_of_days_past }} ago</td>
					<td>{{ poll.answers }}</td>
				</tr>
		    {% endfor %}
		    </table>
		{% else %}
		    <p>No polls are available.</p>
		{% endif %}
		</div>
 	</div>
</body>
</html>

<!-- <form action="{% url 'polls:ask' %}" method="post">
{% csrf_token %}
	<input type="text" name="question" required/>
	<input type="submit" value="Ask" />
</form> -->
