body {
	background-color: white;
	color: black;
}

.col-bg {
	background: url('../img/wallpaper.jpg') center center no-repeat;
	background-size: cover;
	height: 200px;
	z-index: 0;
	opacity: 0.8;
}

.header a {
	text-decoration: none;
	opacity: 0.4;
	transition: opacity 0.4s;
}

.header a:hover {
	opacity: 1;
}

.col-branding {
	background-color: rgba(0,0,0,0.4);
	color: white;
	height: 200px;
	text-align: center;
	padding-top: 4em;
	z-index: 100;
	margin-top: -200px;
}

.col-branding h1 {
	font-family: "Uni Sans Heavy";
	letter-spacing: 8px;
}

.col-left {
	background-color: white;
	color: black;
	padding: 2em;
}

.li-card {
	display: inline-block;
	float: left;
	margin-right: 1em;
}

.li-card a {
	color: #555;
	font-family: "Roboto-Light";
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.4s;
}

.li-card a:hover {
	color: red;
}

.col-left ul li {
	margin-bottom: 2em;	
}

.col-left ul li a .detail {
	margin-left: 4px;
	font-size: 0.85em;
}

.col-left h4 {
	text-align: center;
	font-family: "Uni Sans Heavy";
	padding-bottom: 1em;
}


.col-right {
	background-color: #211F20;
	color: white;
	font-family: "Uni Sans Thin";
	padding: 2em;
}

.col-right h4 {
	text-align: center;
	font-family: "Uni Sans Heavy";
	padding-bottom: 1em;
}

.col-right ul, .col-left ul {
	list-style: none;
	padding: 0;
}

.col-right ul li {
	margin-bottom: 0.75em;
}

.col-right a {
	color: #C3BFC0;
	font-family: "Roboto-Light";
	text-transform: uppercase;
	text-decoration: none;
	transition: color 0.5s;
}

.col-right a:hover {
	color: white;
}

.col-detail {
	font-family: "Roboto-Light";
}

.col-detail .question h3 {
	text-align: center;
}

.col-detail ul {
	list-style: none;
}
.col-detail ul li {
	font-size: 1.2em;
}

.col-detail form {
	padding-left: 2em;
}