@font-face {
    font-family: "LiberationMono-Regular";
    src: url("../fonts/LiberationMono-Regular.ttf");
}

@font-face {
	font-family: "Roboto-Thin";
	src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
	font-family: "Roboto-Light";
	src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
	font-family: "Roboto-Black";
	src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
	font-family: "Roboto-Bold";
	src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
	font-family: "Montserrat-Regular";
	src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "Uni Sans Heavy";
	src: url("../fonts/Uni Sans Heavy.otf");
}

@font-face {
	font-family: "Uni Sans Thin";
	src: url("../fonts/Uni Sans Thin.otf");
}